/*lista*/
#container-lista {
  display: flex;
  align-items: center;
  width: 100%;
}
.details {
  width: 85%;
  height: 30em;
  margin-top: 3em;
  margin-left: 7.5%;
  border-radius: 4em;
  background-color: aliceblue;
}
.map {
  width: 100%;
  height: 100%;
  border-radius: 3em;
}
.orderList {
  width: 70%;
  background-color: var(--blueOcean);
  border-radius: 25px;
}

/* Conteudo */
#lista {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 90%;
  min-height: 27rem;
}
.conteudo {
  margin: 10px 0;
  background-color: var(--blueSky);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
  min-height: 10rem;
}
.titulo {
  margin-top: 10px;
  font-size: 30px;
  color: var(--white);
}
.descricao {
  color: var(--white);
  text-align: justify;
  margin: 20px;
}
.cont-titulo {
  margin: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-remover {
  margin-top: 10px;
  color: var(--blueEye);
  background-color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  width: 70px;
  height: 30px;
  border-radius: 80px;
  border-style: none;
  transition: all 0.5s;
}
.btn-remover:hover {
  color: var(--white);
  background-color: var(--blueEye);
}

.window-navigate{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;

  width: 30em;
  height: 15em;
  background-color: var(--white);
  box-shadow: 0em 0em 2em #222;
  border-radius: 2em;
  display: none;
}
#nav-title{
  width: 90%;
  text-align: center;
}
.confirm{
  margin-right: 2em;
  color: var(--white);
  background-color: var(--royalBlue);
  cursor: pointer;
  font-size: 1rem;
  width: 90px;
  height: 35px;
  border-radius: 80px;
  border-style: none;
  transition: all 0.5s;
}
.confirm:hover {
  color: var(--royalBlue);
  border: 2px solid var(--royalBlue);
  box-shadow: 0em 0em 1em var(--blueOcean);
  background-color: var(--white);
}
.close{
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  font-size: 1rem;
  width: 90px;
  height: 35px;
  border-radius: 80px;
  border-style: none;
  transition: all 0.5s;
}
.close:hover {
  color: var(--red);
  border: 2px solid var(--red);
  box-shadow: 0em 0em 1em var(--blueOcean);
  background-color: var(--white);
}